<%- include("partials/header.ejs") %>

<div class="selectionMainContainer">
    <div class ="selectionImageContainer">
        <img class="selectionImage" src="https://covers.openlibrary.org/b/id/<%= cover %>-L.jpg?default=false" alt="image not available" onerror="this.src='./images/book_640.png';">
    </div>
    <div class="selectionTextWrapper">
    <h2 class="selectionTitle"><%= title %></h2>
    <div class="bookInformationContainer">
        <p>By <%= author %></p>
        <p>First published in <%= year %>.</p>
        <a href="https://www.openlibrary.org<%= link %>" target="_blank">Visit on Open Library</a>
    </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>